.headerImg {
  background-image: url(../ImagesFile/ServicesPageImg/TypingHeader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
.headerImg div {
  padding: 7.5em 4em;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.523);
}
.headerImg div a {
  font-size: 24px;
  font-weight: 600;
}
.headerImg div a:hover {
  color: var(--orange);
  transition: 0.4s all ease-in;
}
.headerImg div h1 {
  font-size: 42px;
  font-weight: 700;
}
.serviceP-Heading {
  text-align: center;
  padding: 0 40px;
}
.serviceP-Heading h1 {
  font-size: 42px;
  margin: 0;
  font-weight: 700;
}
.serviceP-Heading p:nth-of-type(1) {
  font-size: 32px;
}
.serviceP-Heading p:nth-of-type(2) {
  font-size: 22px;
}
.ServicesCards {
  gap: 20px;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ServicesCards div {
  border: 2px solid #3c3c3c;
  width: 350px;
  padding: 20px;
}
.ServicesCards div img {
  width: 100%;
}

.ServicesCards div a {
  display: none;
}
.servicesCards div:hover ~ .ServicesCards div a {
  display: block;
}
@media (max-width: 768px) {
  .ServicesCards div {
    width: auto;
    min-width: 250px;
  }
  .ServicesCards {
    flex-direction: column;
  }
}
