@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
::selection {
  background-color: rgba(127, 255, 212, 0.767);
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* ------------------------GLOBAL STYLING FOR ALL PAGES------------------------------ */
/*---------------------------- Color vars Section--------------------------- */
:root {
  --orange: rgb(128 213 93);
  /* --orange: #ff6103; */
}

/*---------------------- global color section ends -------------------------- */

/* -----logo container---------- */
.logoCont {
  max-width: 400px;
  min-width: 200px;
  margin: auto;
}
.logoCont img {
  width: 100%;
  object-fit: contain;
  height: 60px;
}
/* ----------end here----------- */
/* ------------hover styling for the links or buttons--------------- */
/*---- starts ----*/
.bgDownToUp {
  background-position-y: 0%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 50%,
    var(--orange) 50%
  );
  transition: all 500ms ease;
  background-size: 2px;
  background-size: auto 205%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.bgDownToUp:hover {
  background-position-y: 100%;
}
/* ----END---- */

a {
  text-decoration: none;
  color: black;
}
ul {
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0;
}
.flex-align-center {
  display: flex;
  margin-right: 10px;
  align-items: center;
}
.txtAlignCenter {
  text-align: center;
}
.d-none {
  display: none;
}

@media (max-width: 768px) {
  .responsive-fs-28 {
    font-size: 28px !important;
    transition: 0.4s ease;
  }
  .responsive-fs-18 {
    font-size: 18px !important;
    transition: 0.4s ease;
  }
}
/* ----------loading Screen css------------- */
.ldsRippleCnt {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ripple {
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.chkraBtnUi {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.chkraBtnUi::after,
.chkraBtnUi::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.chkraBtnUi::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.chkraBtnUi::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.chkraBtnUi:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.chkraBtnUi:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.chkraBtnUi:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
