@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
::selection{
  background-color: rgba(127, 255, 212, 0.767);
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

/* ------------------------GLOBAL STYLING FOR ALL PAGES------------------------------ */
/*---------------------------- Color vars Section--------------------------- */
:root {
  --orange: #ff6103;
}

/*---------------------- global color section ends -------------------------- */

/* -----logo container---------- */
.logoCont {
  width: 300px;
}
.logoCont img {
  width: 100%;
  object-fit: contain;
  /* scale: 1.1; */
  margin-left: 10px;
  height: 60px;
}
/* ----------end here----------- */
/* ------------hover styling for the links or buttons--------------- */
/*---- starts ----*/
.bgDownToUp {
  background-position-y: 0%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 50%,
    var(--orange) 50%
  );
  transition: all 500ms ease;
  background-size: 2px;
  background-size: auto 205%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.bgDownToUp:hover {
  background-position-y: 100%;
}
/* ----END---- */

a {
  text-decoration: none;
  color: black;
}
ul {
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0;
}
.flex-align-center {
  display: flex;
  margin-right: 10px;
  align-items: center;
}
.txtAlignCenter {
  text-align: center;
}
.d-none {
  display: none;
}

@media (max-width: 768px) {
  .responsive-fs-28 {
    font-size: 28px !important;
    transition: 0.4s ease;
  }
  .responsive-fs-18 {
    font-size: 18px !important;
    transition: 0.4s ease;
  }
}
/* ----------loading Screen css------------- */
.ldsRippleCnt{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ripple{
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}
